{% extends 'base.html.twig' %}

{% block title %}{{ message }}{% endblock %}

{% block body %}
    <a href={{ "/call-command" }}>Обновить цены</a>
    {#    таблица используется для структурированного вывода всех элементов формы посредством цикла for#}
    {#    каждая итерация - вывод лэйбла и соответствующего поля формы в новой строке#}
    {#    преимущество данного метода в том, что шаблон не зависит от количества параметров у книг#}
    <table>
        {% for pair in coinpairs %}
            <tr>
                <td>{{ pair.getName() }}</td>
                <td><a href="{{ "/prices/" ~ pair.getId() }}">Посмотреть цены</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
